{% extends 'base.html' %} 

{% block content %}
<style>
    body {
        font-family: Helvetica;
    }
    input[type=text], input[type=number] {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
    }
    input[type=button], input[type=submit] {
        width: 50%;
        padding: 12px 14px;
    }
    label {
        margin: 10px;
        float: left;
    }
</style>

<h1>Add New Instrument</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Instrument"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}