{% extends 'base.html' %} 

{% block content %}
<style>
    body {
        font-family: Helvetica;
    }
    input[type=text], input[type=number] {
        width: 250px;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        margin-block: 10px;
    }
    textarea {
        width: 240px;
        height: 60px;
        padding: 5px 5px;
        margin-block: 10px;
    }
    input[type=button], input[type=submit] {
        width: 120px;
        height: 30px;
        padding: 5px 5px;
    }
    label {
        margin-right: 15px;
        float: left;
    }
</style>

<h1>Add New Instrument</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Instrument"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}